/* stili generali container */
.ramo {
    padding: 40px 0;
}

.jumbotron, .about {
    background-color: #1abc9c;
    color: white;
}

.generic-container {
    width: 80%;
    margin: 0 auto;
}

/* stili HEADER */
.head {
    background-color: #2c3e50; 
    color: white;
    padding: 20px;
}

.avatar-img {
    padding-bottom: 20px;
}

.avatar {
    width: 250px;
}

h1 {
    font-size: 60px;
    padding-bottom: 10px;
}


/* stii nav-bar */
.nav-head {
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-collapse {
    flex-grow: 0;
}






/* stili JUMBOTRON */

.stellina i {
    font-size: 30px;
    margin-bottom: 30px;
}

.jumbotron span {
    font-size: 25px;
}

/* stili PORTFOLIO */
h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

.card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}









/* stili about */
.download {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

/* stili CONTACT */
.send-button {
    padding-top: 10px;
}

.btn-primary {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

/* stili footer */
.info {
    background-color: #3a546d;
    color: white;
    padding: 50px;
}

.icon-web i {
    font-size: 40px;
    padding-right: 10px;
}

.copyright {
    background-color: hsl(210, 29%, 24.3%);
    color: white;
    padding: 30px;
}
